*,
*::before,
*::after {
  box-sizing: border-box;
}
*:hover,
*:active,
*:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.logo-link {
  margin-right: 76px;
}

.logo-text1 {
  color: #4d5ae5;
  font-family: "Raleway", system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
}
.logo-text2 {
  color: #2e2f42;
  font-family: "Raleway", system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
}
.page-navigation-list {
  display: flex;
  gap: 40px;
}
.item-navigation {
  padding: 24px 0;
}
.item-navigation .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.item-navigation .link:hover {
  color: #404bbf;
}
.item-navigation:hover::after {
  text-decoration: underline;
  content: "";
}
.item-navigation .link:active {
  color: #404bbf;
  text-decoration: underline;
}
.adress-list {
  display: flex;
  gap: 40px;
}
address {
  align-self: center;
}
address .link {
  color: #2e2f42;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
address .link:hover {
  color: #404bbf;
}
.page-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding: 188px 0;
}
.container-hero {
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.page-title {
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.071;
  text-align: center;
}

.btn-page {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  height: 56px;
  min-width: 169px;
  align-self: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.page-hero button:hover {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.categorie-list {
  display: flex;
  gap: 24px;
}
.categorie-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.svg-icon-Vector {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
  margin-bottom: 5px;
}
.categorie-list-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.categorie-list p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.team {
  background-color: #f4f4fd;
}
.team-header {
  margin-bottom: 72px;
}
.column-container {
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.team-info {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 30px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  flex-shrink: 0;
  padding: 0 20px;
}

.team h2,
.portfolio h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
}
.portfolio-item{
  position: relative;
}
.portfolio-item:hover::before{
  position: absolute;
  display: block;
  background-color: #4D5AE5;
  width: 100%;
  height: 67%;
  top:0px;
  color: #fff;
  padding: 30px 20px;
  content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App";
  
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: space-between;
  flex-basis: calc((100% - 60px) / 3);
}

.border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-header {
  margin-top: 30px;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-list p,
.portfolio p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.container-footer {
  display: flex;
  gap: 170px;
  justify-content: start;
}
.container-footer-logo {
  flex-direction: column;
}
.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
footer .logo-text2 {
  color: #f4f4fd;
}
footer .text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}

.social-media-title {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  padding: 0 20px;
}
